@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #06061e;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make track invisible */
}

/* For Firefox */
* {
  scrollbar-color: #06061e transparent; /* Thumb color, track transparent */
  scrollbar-width: thin; /* Make the scrollbar thin */
}

/* For Internet Explorer */
* {
  scrollbar-face-color: #06061e;
  scrollbar-arrow-color: transparent; /* Make arrows transparent */
}


/* For the Sidebar Effedt */
@keyframes glitter {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
