@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #94d034;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* For Firefox */
/* Note: Firefox supports scrollbar-color but not scrollbar-width yet */
/* You may need to prefix this with -moz- if it's not working */
* {
  scrollbar-color: #94d034 #f0f0f0;
  scrollbar-width: thin;
}

/* For Internet Explorer */
* {
  scrollbar-face-color: #94d034;
  scrollbar-arrow-color: #f0f0f0;
}




/* For the Sidebar Effedt */
@keyframes glitter {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
